/* Admin Panel */

.text-gray-300 {
    color: #dddfeb !important;
}

.border-left-primary {
    border-left: 0.25rem solid #4e73df;
}

.border-left-success {
    border-left: 0.25rem solid #1cc88a;
}

.border-left-warning {
    border-left: 0.25rem solid #f6c23e;
}

.border-left-info {
    border-left: 0.25rem solid #36b9cc;
}