@model Slider
@{
    Layout = "_AdminLayout";
}
<div class="row">
    <div class="card">
         <img src="~/img/@Model.Image" alt="@Model.Title" class="card-img-top">
        <div class="card-body">
            <div class="col text-center">
            <p>
                @Model.Title isimli slideri silmek istiyor musunuz ? 
            </p>
        <form asp-controller = "Slider" asp-action="DeleteConfirm">
            <input type="hidden" name="id" value="@Model.Id">
            <button type="submit" class="btn btn-danger">Sil</button>
            <a asp-controller="Slider" asp-action="Index" class="btn btn-primary">İptal</a>
        </form>
    </div>
        </div>
    </div>
    
</div>