<div class="col">
        <div class="card">
            <img src="~/img/veribilimi.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Lorem, ipsum.</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur.</p>
                <a href="#" class="card-link">İncele</a>
            </div>
        </div>
    </div>