@model Course
        <div class="card mb-3">
            <img src="~/img/@Model.Image" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">@Model.Description</p>
                <a href="/Course/Details/@Model.Id" class="btn  btn-primary btn-sm">İncele</a>
            </div>
        </div>
