@model List<Product>
<div class="d-flex justify-content-between align-items-center">
    <h1 class="mb-3">Ürünler</h1>
    <a class="btn btn-outline-danger" asp-action="List" asp-controller="Products">Tüm Ürünler</a>
</div>
<div class="row">
   @foreach(Product product in Model)
{
    @if(product.IsProductOnSale)
    {
        <div class="col-md-3">
             @await Html.PartialAsync("_ProductCard",product)
        </div>
       
    }
}
</div>   