@model List<Product>
@{
    Layout = "_AdminLayout";
}
<div class="row">
  <div class="col">
    <div class="card shadow">
      <div class="card-header py-1 d-flex justify-content-between align-items-center">
        <h5 class="card-title">Ürünler</h5>
        <a href="urun-ekle.html" class="btn btn-sm btn-primary">
          <i class="fa-solid fa-plus"></i>
        </a>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped mb-0 table-hover">
            <thead class="table-secondary">
              <tr>
                <th style="width: 20px">Id</th>
                <th style="width: 80px">Resim</th>
                <th>Ürün Adı</th>
                <th>Fiyat</th>
                <th>Aktif</th>
                <th>Anasayfa</th>
                <th>Kategori</th>
                <th class="width=50px"></th>
              </tr>
            </thead>
            <tbody>
              @foreach(Product product in Model)
              {
                <tr>
                <td>@product.Id</td>
                <td>
                  <img src = "~/img/@product.Image"  alt="~/img/@product.Image" class="img-fluid" />
                </td>
                <td>@product.ProductName</td>
                <td>@product.Price ₺</td>
                <td>
                  <i class="fa-solid fa-circle-check text-success"></i>
                </td>
                <td>
                  <i class="fa-regular fa-circle-xmark text-danger"></i>
                </td>
                <td>@product.category</td>
                <td>
                  <a href="kategori-ekle.html" class="btn btn-primary btn-sm">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </a>
                </td>
              </tr>
              }
              
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>